/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.device::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}
/* Estilo de la "track" (pista de fondo) */
.device::-webkit-scrollbar-track {
  background: #22223c; /* Color de fondo */
  border-radius: 2px;
}

.device::-webkit-scrollbar-thumb {
  background-color: #363554; /* Color del deslizador */
  border-radius: 2px;
  border: 1px solid #363554; /* Espacio alrededor del deslizador */
}
.device::-webkit-scrollbar-thumb:hover {
  background-color: #363554;
}
